.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

/* Card shadow and transition */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.card:hover {
    transform: translateY(-5px); /* Move the card up */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); /* Add shadow */
}

/* Button shadow and transition */
.button-gradient {
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

.button-gradient:hover {
    transform: scale(1.05); /* Slightly enlarge button on hover */
}

/* Responsive styles */
@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}
